
inicio
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: #bfbfbf;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  width: 1200px;
  height: 760px;
  background: white;
  border-radius: 30px;
  display: flex;
  overflow: hidden;
}

.sidebar{
  width: 33%;
  padding: 40px;
  background:
  linear-gradient(rgba(255,255,255,0.75),
  rgba(255,255,255,0.75)),
  url('https://i1-e.pinimg.com/736x/09/b3/ae/09b3aee097acdc51f8274e7096072ae5.jpg');
  
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h1{
  color: #b56a78;
  font-size: 55px;
  margin-bottom: 10px;
}

.texto-topo{
  font-size: 12px;
  color: #555;
  line-height: 1.4;
}

.menu-lateral{
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-top: 40px;
}

.menu-lateral a{
  text-decoration: none;
  color: #333;
  font-size: 28px;
  font-weight: bold;
}

.menu-lateral .ativo{
  color: #b56a78;
}

.sidebar h2{
  color: #8b4f5c;
  font-size: 45px;
}

.conteudo{
  width: 67%;
  padding: 35px 45px;
}

.topo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  display: flex;
  gap: 35px;
}

.menu-lateral a{
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 12px;
}

.menu-lateral a:hover{
  background: #9a5a67;
}

.perfil{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.barra-pesquisa{
  margin-top: 40px;
  background: #9a5a67;
  height: 55px;
  border-radius: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  color: white;
  font-size: 22px;
  font-weight: bold;
}

.caixa-imagem{
 img{
    width: 700px;
    height: 600px;
}
}

.infos{
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.botoes{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.botoes button{
  width: 180px;
  height: 55px;
  border: none;
  border-radius: 40px;
  background: #9a5a67;
  color: white;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.textos{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.textos p{
  font-size: 15px;
  line-height: 1.5;
  color: #444;
}

.caixa-final{
  margin-top: 35px;
  border: 4px solid #c8c8c8;
  border-radius: 40px;
  padding: 25px;
  text-align: center;
  color: #555;
  font-size: 14px;
}

.pontinhos{
  text-align: center;
  font-size: 30px;
  color: #9a5a67;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    padding: 20px;
  }
  .conteudo {
    width: 100%;
    padding: 20px;
  }
  .menu {
    flex-wrap: wrap;
    gap: 15px;
  }
  .menu-lateral {
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
  }
  .infos {
    flex-direction: column;
    gap: 20px;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(135deg, #d8d8d8, #cfcfcf);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.conteudo{
  width: 850px;
}

historia
.barra-historia{
  background: #a35f72;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 18px;
  border-radius: 20px;
  font-size: 26px;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  margin-bottom: 25px;
}

.barra-historia span{
  font-size: 24px;
}

.caixa-historia{
  background: #c98292;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
  transition: 0.3s;
}

.caixa-historia:hover{
  transform: translateY(-3px);
}

.caixa-historia p{
  color: #2e2e2e;
  font-size: 17px;
  line-height: 1.9;
  text-align: justify;
}

.caixa-historia p::first-letter{
  font-size: 38px;
  font-weight: bold;
  color: #7a3248;
}

.caixa-historia{
  position: relative;
  background: rgba(255,255,255,0.35);
  padding: 35px;
  border-radius: 25px;
}

.img-britney{
  width: 400px;
position: absolute;
  top: 50px;
  right: -425px;
}

curiosidades
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(135deg, #d8d8d8, #cfcfcf);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.conteudo{
  width: 850px;
}

.barra-topo{
  background: #a35f72;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 18px;
  border-radius: 20px;
  font-size: 26px;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  margin-bottom: 25px;
}

.barra-topo span{
  font-size: 24px;
}


.caixa{
padding: 35px;
border-radius: 20px;
box-shadow: 0 8px 20px rgba(0,0,0,0.12);
transition: 0.3s;
position: relative;
}

.caixa:hover{
  transform: translateY(-3px);
}


.caixa p{
 color: #2e2e2e;
 font-size: 17px;
line-height: 1.9;
text-align: justify;
margin-bottom: 25px;
}

.caixa p::first-letter{
  font-size: 38px;
  font-weight: bold;
  color: #7a3248;
}

fanart
.caixa{
  position: relative;
}

.fanart{
  width: 150px;
  position: absolute;
  border-radius: 15px;

  box-shadow:
  0 0 10px rgba(255,255,255,0.8),
  0 0 20px rgba(0,0,0,0.2);

  transition: 0.3s;
}

.fanart:hover{
  transform: scale(1.05) rotate(0deg);
}

.fan1{
  top: -60px;
  right: -40px;
  transform: rotate(8deg);
}

.fan2{
  bottom: -50px;
  left: -40px;
  transform: rotate(-10deg);
}

.fan3{
  top: 180px;
  right: -70px;
  transform: rotate(12deg);
}